body{
    background-color: #C1E1C1;
}

.pageTitle {
    text-align: center;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inputBox{
    width: 5%;
    height: 85px;
    margin: 5px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 5px solid #ffd1dc;
}

.letterBoxes{
    display: flex;
    justify-content: center;
}