body{
    background-color: #C1E1C1;
}

.container{
    position: relative;
}
.pageTitle {
    text-align: center;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media only screen and (max-width: 640px) {
        font-size: 60px;
}
}

.inputBox{
    width: 5%;
    height: 85px;
    margin: 5px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 5px solid #ffd1dc;

    @media only screen and (max-width: 640px) {
		font-size: 17px;
        width: 15%;
        height: 20px;
	}
    
}

.letterBoxes{
    display: flex;
    justify-content: center;
    position: relative;
}
button{
    color: darkgreen;
    border: 5px solid darkgreen;
    width: 5%;
    height: 95px;
    margin: 5px 10px;
    font-size: 22px;
    font-weight: 200;
    cursor: pointer;
    display: inline-block;
    position: relative;

    @media only screen and (max-width: 640px) {
		font-size: 5px;
        width: 14%;
        height: 30px;
        font-weight: 1000;
	}

}


.lossPop {
    border: solid 5px darkgreen;
    width: 45%;
    margin: 0% 27.5% 0% 27.5%;
    display: none;
    height: 450px;
    z-index: 99;
    position: absolute;
    top: 25%;
    left: 0%;
    background-color: green;
    opacity: 75%;
    vertical-align: top;

    @media only screen and (max-width: 640px) {
		font-size: 21px;
        width: 90%;
        height: 300px;
        top: 25%;
        left: -24%;
	}


}

.lossMess1{

    font-size: 70px;
    top: -30%;
    left: 17%;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media only screen and (max-width: 640px) {
		font-size: 50px;
        top: -30%;
        left: 10%;
	}
}

.lossMess2 {

    font-size: 60px;
    top: 15%;
    left: 22%;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @media only screen and (max-width: 640px) {
		font-size: 40px;
        top: 20%;
        left: 15%;
	}
}


.lossMess3 {
    font-size: 80px;
    top: 20%;
    left: 31%;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold;

    @media only screen and (max-width: 640px) {
		font-size: 60px;
        top: 20%;
        left: 24%;
        color: gold;
	}
}

.winPop {
        border: solid 5px darkgreen;
        width: 45%;
        margin: 0% 27.5% 0% 27.5%;
        display: none;
        height: 450px;
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 0%;
        background-color: red;
        opacity: 75%;
        vertical-align: top;

        @media only screen and (max-width: 640px) {
            font-size: 21px;
            width: 90%;
            height: 240px;
            top: 25%;
            left: -24%;
        }
    
    }
    
.winMess1{
    
        font-size: 70px;
        top: -27%;
        left: 17%;
        position: absolute;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        @media only screen and (max-width: 640px) {
            font-size: 50px;
            top: -30%;
            left: 10%;
        }
    }

.play-again{

    &-win{
    position: absolute;
    top: 60%;
    left: 35%;
    width: 30%;
    height: 20%;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    cursor: click;

    @media only screen and (max-width: 640px) {
        top: 75%;
        left: 35%;
        width: 30%;
        height: 22%;
        font-size: 16px;
	}
    }

    &-loss{
        background-color: pink;
        width: 30%;
        height: 20%;
        background-color: pink;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        position: absolute;
        top: 70%;
        left: 34%;
        cursor: click;

        @media only screen and (max-width: 640px) {
            top: 75%;
            left: 35%;
            width: 30%;
            height: 20%;
            font-size: 16px;
        }
        }
    }





.not-a-word {
    border: solid 5px darkgreen;
    width: 33%;
    margin: 0% 32.5% 0% 32.5%;
    display: none;
    height: 50px;
    z-index: 99;
    position: absolute;
    top: 16%;
    left: 0%;
    background-color: pink;
    opacity: 100%;
    vertical-align: top;
    animation: skew-x-shake 2s infinite;


    @media only screen and (max-width: 640px) {
        width: 45%;
        margin: 0% 27.5% 0% 27.5%;
        height: 30px;
        top: 18%;
        left: 0%;
    }

}

.naw-mess{
    font-size: 35px;
    top: -90%;
    left: 13%;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @media only screen and (max-width: 640px) {
        font-size: 15px;
        top: -60%;
        left: 7%;}
}


@keyframes skew-x-shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }

